<?xml version="1.0"?>
<launch>

    <!-- Gazebo vs. Real Robot Arm -->
    <arg name="sim" default="true" />    

    <!-- Start the arm driver -->
    <node pkg="kinova_driver" type="hlpr_trajectory_controller" name="jaco_trajectory_controller" output="screen">
        <param name="sim" value="$(arg sim)"/>
    </node>

</launch>
