<?xml version="1.0"?>
<launch>

    <!-- Gazebo vs. Real Robot Arm -->
    <arg name="sim" default="true" />

    <!-- Gripper Params --> 
    <arg name="comport" default="/dev/ttyUSB0"/>
    <arg name="baud" default="115200"/>

    <!-- Start the arm driver if we are not in simulation-->
    <include file="$(find kinova_bringup)/launch/kinova_robot.launch" unless="$(arg sim)">
        <arg name="kinova_robotType" value="j2s7s300" />
        <arg name="use_urdf" value="false" />
    </include>
    <!-- Start the trajectory server driver -->
    <node pkg="kinova_driver" type="hlpr_trajectory_controller" name="jaco_trajectory_controller" output="screen">
        <param name="sim" value="$(arg sim)"/>
    </node>

    <!-- NOTE: need to check if we already do this on vector
         Start the gripper driver if we are not in simulation -->
    <!--node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen" unless="$(arg sim)">
        <param name="num_grippers" value="1" />
        <param name="comport" value="$(arg comport)" />
        <param name="baud" value="$(arg baud)" />
    </node-->
    <!-- If we want to use gripper actions -->
    <!--node pkg="robotiq_85_gripper_actions" type="gripper_actions" name="gripper_actions" /-->



</launch>
